{% for minisplit in minisplits %}
<tr>
  <td>{{ minisplit.idMinisplit }}</td>
  <td>{{ minisplit.modelo }}</td>
  <td>{{ minisplit.marca }}</td>
  <td>{{ minisplit.capacidad }} BTU</td>
  <td>${{ minisplit.precio }}</td>
  <td>{{ minisplit.eficiencia }}</td>
  <td>{{ minisplit.disponibilidad }}</td>
  <td>
    <button class="btn btn-info btn-editar" data-idMinisplit="{{ minisplit.idMinisplit }}">Editar</button>
  </td>
  <td>
    <button class="btn btn-danger btn-eliminar" data-idMinisplit="{{ minisplit.idMinisplit }}">Eliminar</button>
  </td>
</tr>
{% endfor %}
